
<!--- Contents  -->
<div *layout="'desktop'"> 
<div class="container animated fadeInDown">
	<section class="page-content">
		<main class="login">
			<div class="login-logo">
				<img src="assets/img/login-logo.png" class="logo-redirect" alt="Awana Logo" routerLink="/login">
			</div>
			 
			<div class="row login-maindiv" *ngIf="!showSuccess">
				<div class="col-6 login-div">
					<h1 class="heading">{{sharedMessages.resetPassTitle}}?</h1>	
					<form novalidate autocomplete="off" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" *ngIf="isGotUseInfo">
						<section formGroupName="passwordGroup">
							<div class="form-group">
								<input type="password" name="newPassword" formControlName="newPassword" class="text-field text-field-big" placeholder="Enter New Password" 
								[ngClass]="{'field-error': (resetPasswordForm.get('passwordGroup.newPassword').touched || 
								resetPasswordForm.get('passwordGroup.newPassword').dirty) &&
								 !resetPasswordForm.get('passwordGroup.newPassword').valid }">
								<span class="field-error-txt" *ngIf="(resetPasswordForm.get('passwordGroup.newPassword').touched || 
								resetPasswordForm.get('passwordGroup.newPassword').dirty) && 
								resetPasswordForm.get('passwordGroup.newPassword').errors">
								   <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.required"> {{sharedMessages.passValidation}}</span>	
								   <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.minlength">{{sharedMessages.passValidationNinCharec}}</span>
								   <!-- <span *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.MatchPasswordCurrentNew && !(resetPasswordForm.get('passwordGroup.newPassword').errors.required)">New password can't be same as current password.</span> -->
								   <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && !resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.passwordValidationAvoid}}</span>
								   <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.charValidation">{{sharedMessages.spaceNotAllowed}}</span>
								   <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.passwordValidationFormat}}</span>
								   <span class="field-error-txt animated fadeInRight" *ngIf="!resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.containFirstLastEmail}}</span>					                                                              
								</span>
								
							</div>
						<div class="form-group">
								
							<input type="password" name="confirmPassword" formControlName="confirmPassword" class="text-field text-field-big" placeholder="Re-enter New Password" [ngClass]="{'field-error': (resetPasswordForm.get('passwordGroup.confirmPassword').touched || 
							resetPasswordForm.get('passwordGroup.confirmPassword').dirty) &&
							 !resetPasswordForm.get('passwordGroup.confirmPassword').valid }">
							 <span class="field-error-txt" *ngIf="(resetPasswordForm.get('passwordGroup.confirmPassword').touched || 
							 resetPasswordForm.get('passwordGroup.confirmPassword').dirty)">
							   <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.confirmPassword').errors?.required">{{sharedMessages.reEnterPasswordRequired}}</span>	
							   <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup').errors?.match && !resetPasswordForm.get('passwordGroup.confirmPassword').errors?.required">{{sharedMessages.passwordMismatchError}}</span>                                        
                                   																                                                              
							</span> 
							<div [ngClass]="{ 'serverError': error}" *ngIf="error && resetPasswordForm.value.passwordGroup.confirmPassword.length>0"><span class="error-text">{{error}}</span></div>
						</div>
						</section>
						<div class="clearfix margin-b20">
							<button  class="btn btn-block btn-green fp-btn" [disabled]="!resetPasswordForm.valid" [class.validate-form]="!resetPasswordForm.valid">
								{{sharedMessages.continue}}
							</button>
						</div>
					</form>
				</div>
				<div class="col-6 register-div">
					<div class="pwd-requirements">
	    					<ul>
	    						<li class="text-center">
	    							<span class="cpwd-icon icon-icon_key"></span>
	    						</li>
	    						<li>
	    							<h5 class="cpwd-head">{{sharedMessages.yourNewPasswordMust}}</h5>
	    							<ul class="cpwd-list">
	    								<li>
	    									<span class="icon icon-check"></span>
	    									{{sharedMessages.beAtLeast8CharactersInLength}}
	    								</li>
	    								<li>
	    									<span class="icon icon-check"></span>
											{{sharedMessages.notBeSameAsYourCurrentPassword}}
	    								</li>
	    								<li>
    									<span class="icon icon-check"></span>
										{{sharedMessages.notContainCommonPassword}}
										</li>
										<li>
											<span class="icon icon-check"></span> {{sharedMessages.passwordValidationFormat}}
										</li>
										<li>
											<span class="icon icon-check"></span> {{sharedMessages.containFirstLastEmail}}
										</li>
	    							</ul>
	    						</li>
	    					</ul>
	    				</div>
				</div>
			</div>
			  <!--registration thankyou screen starts-->
			<div class="thankyou-div" *ngIf="showSuccess">
				<h1 class="heading">{{sharedMessages.resetPassTitle}}</h1> 
				<ul class="thanks-msg">
				  <li class="icon">
					<span class="icon-icon_like"></span>
				  </li>
				  <li>
					{{sharedMessages.passResetSuccess}} <a routerLink="/login" class="link-underline">{{sharedMessages.clickHere}}</a> {{sharedMessages.loginAcc}}
				  </li>
				</ul>
			</div>
			<!--registration thankyou screen ends-->
			<div class="login-foot" *ngIf="!showSuccess">
				{{sharedMessages.rememberPass}} <a routerLink="/login">{{sharedMessages.signIn}}</a>
			</div>
		</main>
	</section>
</div>
</div>

	
<!--- MOBILE -->	
<div class="mobile body-bg" *layout="'mobile'">
	<div class="container">
		<!--- HEADER -->
		<header class="mobile-header login-header">
			<a href="#nogo">
				<img src="/assets/img/awana_Logo_white.png" alt="MyAwana">
			</a>
		</header>
		<!--- CONTENT -->
		<main class="login page-content">
			<div class="login-maindiv">
				<div class="login-div">
					<h1 class="heading">{{sharedMessages.resetPassTitle}}?</h1>
					<div *ngIf="!showSuccess">
						<form novalidate autocomplete="off" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" *ngIf="isGotUseInfo">
							<section formGroupName="passwordGroup">
							<div class="form-group">
								<input type="password" name="newPassword" formControlName="newPassword" class="text-field text-field-big" placeholder="Enter New Password" 
								[ngClass]="{'field-error': (resetPasswordForm.get('passwordGroup.newPassword').touched || 
								resetPasswordForm.get('passwordGroup.newPassword').dirty) &&
								 !resetPasswordForm.get('passwordGroup.newPassword').valid }">
								<span class="field-error-txt" *ngIf="(resetPasswordForm.get('passwordGroup.newPassword').touched || 
								resetPasswordForm.get('passwordGroup.newPassword').dirty) && 
								resetPasswordForm.get('passwordGroup.newPassword').errors">
									<span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.required"> {{sharedMessages.passValidation}}</span>	
									<span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.minlength">{{sharedMessages.passValidationNinCharec}}</span>
									<!-- <span *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.MatchPasswordCurrentNew && !(resetPasswordForm.get('passwordGroup.newPassword').errors.required)">New password can't be same as current password.</span> -->
									<span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && !resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.passwordValidationAvoid}}</span>
									<span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.charValidation">{{sharedMessages.spaceNotAllowed}}</span>
									<span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.passwordValidationFormat}}</span>
									<span class="field-error-txt animated fadeInRight" *ngIf="!resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.containFirstLastEmail}}</span>					                                                              
								</span>
								
							</div>
							<div class="form-group">
									
								<input type="password" name="confirmPassword" formControlName="confirmPassword" class="text-field text-field-big" placeholder="Re-enter New Password" [ngClass]="{'field-error': (resetPasswordForm.get('passwordGroup.confirmPassword').touched || 
								resetPasswordForm.get('passwordGroup.confirmPassword').dirty) &&
								!resetPasswordForm.get('passwordGroup.confirmPassword').valid }">
								<span class="field-error-txt" *ngIf="(resetPasswordForm.get('passwordGroup.confirmPassword').touched || 
								resetPasswordForm.get('passwordGroup.confirmPassword').dirty) && 
								resetPasswordForm.get('passwordGroup.confirmPassword').errors">
								<span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.confirmPassword').errors?.required"> {{sharedMessages.reEnterPasswordRequired}}</span>	
								<span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup').errors?.match && !resetPasswordForm.get('passwordGroup.confirmPassword').errors?.required">{{sharedMessages.passwordMismatchError}}</span>                                        
																																								
								</span> 
								<div [ngClass]="{ 'serverError': error}" *ngIf="error && resetPasswordForm.value.passwordGroup.confirmPassword.length>0"><span class="error-text">{{error}}</span></div>
							</div>
							</section>
							<div class="clearfix margin-b20">
								<button  class="btn btn-block btn-green fp-btn" [disabled]="!resetPasswordForm.valid" [class.validate-form]="!resetPasswordForm.valid">
									{{sharedMessages.continue}}
								</button>
							</div>
						</form>
				   </div>
					<div class="thankyou-div" *ngIf="showSuccess">
						<ul class="thanks-msg">
							<li class="icon">
								<span class="icon-icon_like"></span>
							</li>
							<li>
								{{sharedMessages.passResetSuccess}} <a routerLink="/login" class="link-underline">{{sharedMessages.clickHere}}</a> {{sharedMessages.loginAcc}}
							</li>
						</ul>

					</div>
				</div>
			</div>
		</main>

	</div>

</div>

	


