/*** -----------------------------------------

			CHANGE PASSWORD

----------------------------------------- ***/

.change-password {
	margin-top: 3em;
}

.change-password .pwd-requirements {
	width: 320px;
	position: relative;
	margin-top: -70px;
}

.change-password .form-fields {
	margin-top: 20px;
}

.change-password .text-field-big {
	width: 100%;
    border-color: #999999;
}

.pwd-requirements > ul {
	margin: 1em 0;
}

.pwd-requirements .cpwd-head {
	font-family: 'AvenirLTStdRoman';
	font-size: 16px;
	color: #666666;
	font-weight: normal;
	margin: 22px 0 15px 0;
}

.pwd-requirements .cpwd-icon {
	font-size: 54px;
	color: #3CB495;
}

.pwd-requirements .cpwd-list li {
	margin-bottom: 6px;
	padding-left: 24px;
	position: relative;
}

.pwd-requirements .cpwd-list .icon {
	position: absolute;
	left: 0;
	top: 2px;
}

.change-password .btn-row {
    margin: 3em 0 1em 0;
}