	<!--- ERROR PAGE -->	
<div class="error-page clearfix">
  <div class="container">
      <section class="page-content">
        <h1 class="error-head">
          You were looking for something that may not exist.
        </h1>
        <span class="icon-error-icon error-icon"></span>
        <p class="para-txt">
          Feel free to head back to the MyAwana <a routerLink="/dashboard" class="text-green">homepage</a> or if you feel this is an error, please reach out to our customer care team <a href="mailto:customercare@awana.org" class="text-green">customercare@awana.org</a> or call 866-292-6227
        </p>
      </section>
  </div>
</div>
