<!-- My Recent Donations -->
<div class="bor-boxshadow margin-b2em">
  <div class="myorders-sec">
      <h3 class="heading">My Recent Donations</h3>
      <ul class="row list border-no">
          <li class="col-1 icon-column">

          </li>
          <li class="col-5 text-muted text-left">
              CAUSE
          </li>
          <li class="col-1 text-muted text-center amount-txt">
              AMOUNT
          </li>
          <li class="col-2 text-muted text-center">
              PAYMENT DATE
          </li>
          <li class="col-2 text-muted text-center status-txt">
              STATUS
          </li>
          <li class="col-1">

          </li>
      </ul>
      <ul class="row list active">
          <li class="col-1 text-center icon-column">
              <span class="icons icon-icon_my_donations"></span>
          </li>
          <li class="col-5">
              <label class="total-items">Children’s Reach Program Reach
                  <br> Lorem Ipsum dolar..</label>
          </li>
          <li class="col-1 text-center text-pad amount-txt">
              $10.00
          </li>
          <li class="col-2 text-center text-pad">
              Nov. 18, 2017
          </li>
          <li class="col-2 text-center status-txt">
              <span class="icons icon-icon_recurring"></span>
              <label>Recurring</label>
          </li>
          <li class="col-1 text-center">
              <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
              <div class="dropdown donate-dropdown">
                  <ul class="dropdown-links">
                      <li>
                          <a href="#nogo">
                              <span class="icon-icon_subscriptions icon"></span> EDIT RECURRING DONATION
                          </a>
                      </li>
                      <li>
                          <a href="#nogo">
                              <span class="icon-icon_subscriptions icon"></span> DOWNLOAD RECEIPT
                          </a>
                      </li>
                  </ul>
              </div>
          </li>
      </ul>
      <ul class="row list">
          <li class="col-1 text-center icon-column">
              <span class="icons icon-icon_my_donations"></span>
          </li>
          <li class="col-5">
              <label class="total-items">Children’s Reach Program Reach
                  <br> Lorem Ipsum dolar..</label>
          </li>
          <li class="col-1 text-center text-pad amount-txt">
              $10.00
          </li>
          <li class="col-2 text-center text-pad">
              Nov. 18, 2017
          </li>
          <li class="col-2 text-center status-txt">
              <span class="icons icon-icon_onetime"></span>
              <label>One Time</label>
          </li>
          <li class="col-1 text-center">
              <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
          </li>
      </ul>
      <ul class="row list">
          <li class="col-1 text-center icon-column">
              <span class="icons icon-icon_my_donations"></span>
          </li>
          <li class="col-5">
              <label class="total-items">Children’s Reach Program Reach
                  <br> Lorem Ipsum dolar..</label>
          </li>
          <li class="col-1 text-center text-pad amount-txt">
              $10.00
          </li>
          <li class="col-2 text-center text-pad">
              Nov. 18, 2017
          </li>
          <li class="col-2 text-center status-txt">
              <span class="icons icon-icon_onetime"></span>
              <label>One Time</label>
          </li>
          <li class="col-1 text-center">
              <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
          </li>
      </ul>
      <ul class="row list">
          <li class="col-1 text-center icon-column">
              <span class="icons icon-icon_my_donations"></span>
          </li>
          <li class="col-5">
              <label class="total-items">Children’s Reach Program Reach
                  <br> Lorem Ipsum dolar..</label>
          </li>
          <li class="col-1 text-center text-pad amount-txt">
              $10.00
          </li>
          <li class="col-2 text-center text-pad">
              Nov. 18, 2017
          </li>
          <li class="col-2 text-center status-txt">
              <span class="icons icon-icon_onetime"></span>
              <label>One Time</label>
          </li>
          <li class="col-1 text-center">
              <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
          </li>
      </ul>
      <ul class="row list">
          <li class="col-1 text-center icon-column">
              <span class="icons icon-icon_my_donations"></span>
          </li>
          <li class="col-5">
              <label class="total-items">Children’s Reach Program Reach
                  <br> Lorem Ipsum dolar..</label>
          </li>
          <li class="col-1 text-center text-pad amount-txt">
              $10.00
          </li>
          <li class="col-2 text-center text-pad">
              Nov. 18, 2017
          </li>
          <li class="col-2 text-center status-txt">
              <span class="icons icon-icon_onetime"></span>
              <label>One Time</label>
          </li>
          <li class="col-1 text-center">
              <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
          </li>
      </ul>
      <div class="clearfix margin-t20 margin-b10">
          <a href="#nogo" class="btn btn-green margin-r20">
                    VIEW ALL DONATIONS
                  </a>
          <a href="#nogo" class="btn">
                    DONATE NOW
                    <span class="icon-external-link icon"></span>
                  </a>
      </div>
  </div>
</div>