<!--- DESKTOP -->
<div *layout="'desktop'">  
    <div class="container animated fadeInDown">
        <section class="page-content">
            <main class="login">
                <div class="login-logo">
                    <img class="logo-redirect" src="assets/img/login-logo.png" alt="Awana Logo" routerLink="/login">
                </div>
                <div class="row login-maindiv" *ngIf="!emailSendScreen">
                    <div class="col-6 login-div">
                        <h1 class="heading">{{messages.titleForgotPassword}}?</h1>
                        <form novalidate autocomplete="off" [formGroup]="forgotPasswordForm" (ngSubmit)="submitEmail()">
                            <div class="form-group">
								<input  type="text" name="email" (blur)="checkExistingEmailId()" (keyup.enter)="checkExistingEmailId()"  formControlName="email" class="text-field text-field-big" placeholder="Enter Your Email" [ngClass]="{'field-error': (forgotPasswordForm.get('email').touched || 
                                forgotPasswordForm.get('email').dirty) &&
								!forgotPasswordForm.get('email').valid }">
								<span class="field-error-txt" *ngIf="(forgotPasswordForm.get('email').touched || 
								forgotPasswordForm.get('email').dirty) && 
								forgotPasswordForm.get('email').errors">
									<span class="field-error-txt animated fadeInRight" *ngIf="forgotPasswordForm.get('email').errors?.required"> {{messages.enterEmailValidationMessage}}</span>
									<span class="field-error-txt animated fadeInRight" *ngIf="forgotPasswordForm.get('email').errors?.pattern">{{messages.validEmailMesaageValidation}}</span>									                                            
                                </span>
                                
                                <div [ngClass]="{ 'serverError': error}" *ngIf="emailAlreadyExists==false &&  callRunning==false && !forgotPasswordForm.get('email').errors?.required && !forgotPasswordForm.get('email').errors?.pattern"><span class="error-text"> {{messages.notExistValidationMessage}}</span></div>
                               				
                            </div>
                            <div class="clearfix margin-b20">
                                <button  [class.validate-form]="!forgotPasswordForm.valid"  class="btn btn-block btn-green fp-btn" [disabled]="!forgotPasswordForm.valid || loading==true">
                                        <img class="btn-spinner" id="mySpinner" *ngIf="loading" src="assets/img/spinner_Btn.gif"/>
									{{messages.continue}}
                                </button>

                            </div>
                            <div class="margin-b20 ortxt">{{messages.or}}</div>
                            <ul class="social-row">
                                <li>
                                    <strong>{{messages.loginWith}}</strong>
                                </li>
                                <li>
                                    <a href="#" class="btn fb-btn-blue">
                                        <span class="social-icons icon-icon_fb"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn gplus-btn-red">
                                        <span class="social-icons icon-icon_gplus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn twitter-btn-blue">
                                        <span class="social-icons icon-icon_twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="col-6 register-div">
                            <div class="pwd-requirements">
                                    <ul>
                                        <li class="text-center">
                                            <span class="cpwd-icon icon-icon_key"></span>
                                        </li>
                                        <li>
                                            <h5 class="cpwd-head">{{messages.yourNewPasswordMust}}</h5>
                                            <ul class="cpwd-list">
                                                <li>
                                                    <span class="icon icon-check"></span>
                                                    {{messages.beAtLeast8CharactersInLength}}
                                                </li>
                                                <li>
                                                    <span class="icon icon-check"></span>
                                                    {{messages.notBeSameAsYourCurrentPassword}}
                                                </li>
                                                <li>
                                                    <span class="icon icon-check"></span>
                                                    {{messages.notContainCommonPassword}}
                                                </li>
                                                <li>
                                                    <span class="icon icon-check"></span>{{messages.passwordValidationFormat}}
                                                </li>
                                                <li>
                                                    <span class="icon icon-check"></span> {{messages.containFirstLastEmail}}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>                   
                    </div>
                </div>
                 <!--forgotPassword email screen starts-->
             
	  
                    <div class="login-maindiv" *ngIf="emailSendScreen">
                        <div class="thankyou-div">
                            <h1 class="heading">{{messages.titleForgotPassword}}?</h1>
                            
                            <ul class="thanks-msg">
                                <li class="icon">
                                    <span class="icon-icon_mail"></span>
                                </li>
                                <li>
                                    {{messages.emailHasBeensendTo}} <span class="email-text"> {{emailId}}.</span> {{messages.clickOnTheUrlToResetPassword}}.
                                </li>
                                <li>
                                    <a  class="close" (click)="backToLogin()">
                                        <span class="icon-icon_close close"></span>
                                    </a>
                                </li>
                            </ul>
    
                        </div>
                        <div class="login-foot">
					
                        </div>
                    </div>
                    

                 <!--forgotPassword email screen end-->

                <div class="login-foot" *ngIf="!emailSendScreen">
                    {{messages.didYouRememberYourPassword}} <a routerLink="/login">{{messages.signIn}}</a>
                </div>
            </main>
        </section>
    </div>

</div>


    <main class="login page-content" *layout="'mobile'">
        <div class="login-maindiv">
            <div class="login-div">
                <h1 class="heading">{{messages.titleForgotPassword}}?</h1>
                <form novalidate autocomplete="off" [formGroup]="forgotPasswordForm" (ngSubmit)="submitEmail()" *ngIf="!emailSendScreen">
                    <div class="form-group">
                        <!-- <input type="text" name="" class="text-field text-field-big" placeholder="Enter Your Email"> -->
                        <input type="text" name="email" (blur)="checkExistingEmailId()" (keyup.enter)="checkExistingEmailId()"  formControlName="email" class="text-field text-field-big" placeholder="Enter Your Email" [ngClass]="{'field-error': (forgotPasswordForm.get('email').touched || 
                                forgotPasswordForm.get('email').dirty) &&
								!forgotPasswordForm.get('email').valid }">
								<span class="field-error-txt" *ngIf="(forgotPasswordForm.get('email').touched || 
								forgotPasswordForm.get('email').dirty) && 
								forgotPasswordForm.get('email').errors">
                                <span class="field-error-txt animated fadeInRight" *ngIf="forgotPasswordForm.get('email').errors?.required"> {{messages.enterEmailValidationMessage}}</span>
                                <span class="field-error-txt animated fadeInRight" *ngIf="forgotPasswordForm.get('email').errors?.pattern">{{messages.validEmailMesaageValidation}}</span>		
									<!-- <span *ngIf="forgotPasswordForm.get('email').errors?.email">Invalid email.</span>                                                                -->
                                </span>
                                <div [ngClass]="{ 'serverError': error}" *ngIf="emailAlreadyExists==false &&  callRunning==false && !forgotPasswordForm.get('email').errors?.required && !forgotPasswordForm.get('email').errors?.pattern"><span class="error-text"> {{messages.notExistValidationMessage}}</span></div>

                    </div>
                    <div class="clearfix margin-b20">
                            <button  [class.validate-form]="!forgotPasswordForm.valid || loading==true"  class="btn btn-block btn-green fp-btn" [disabled]="!forgotPasswordForm.valid || loading==true">
                                <img class="btn-spinner" id="mySpinner" *ngIf="loading" src="assets/img/spinner_Btn.gif"/>
								{{messages.continue}}
							</button>
                    </div>
                    <div class="margin-b20 ortxt">{{messages.or}}</div>
                    <ul class="social-row">
                        <li>
                            <strong>{{messages.loginWith}}</strong>
                        </li>
                        <li>
                            <a href="#" class="btn fb-btn-blue">
                                <span class="social-icons icon-icon_fb"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn gplus-btn-red">
                                <span class="social-icons icon-icon_gplus"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn twitter-btn-blue">
                                <span class="social-icons icon-icon_twitter"></span>
                            </a>
                        </li>
                    </ul>
                </form>
                    <div class="thankyou-div" *ngIf="emailSendScreen">
						<ul class="thanks-msg">
							<li class="icon">
								<span class="icon-icon_mail"></span>
							</li>
							<li>
								{{messages.emailHasBeensendTo}}<span class="email-text"> {{emailId}}.</span>{{messages.clickOnTheUrlToResetPassword}}.
                            </li>
						</ul>
					</div>
            </div>
        </div>
    </main>

