<!-- Articles and Newsletters -->
<div class="art-news-sec">
        <h3 class="heading">Articles &amp; Newsletters</h3>
        <div class="row">
            <div class="col-4">
                <div class="bor-boxshadow card">
                    <img src="/assets/img/article-img-1.png" class="img-responsive" align="Articles">
                    <h4 class="card-head">
                        Awana PreConference at CPC
                    </h4>
                    <span class="card-text">
                        Category: <span class="text-blue">Events</span>
                    </span>
                    <span class="card-text">
                        Published On: Nov. 10, 2017
                    </span>
                    <p class="card-para-text">
                        Lorem ipsum dolar sit amet some excerpt from the content goes here..
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="bor-boxshadow card">
                    <img src="/assets/img/article-img-2.png" class="img-responsive" align="Articles">
                    <h4 class="card-head">
                        Awana PreConference at CPC
                    </h4>
                    <span class="card-text">
                        Category: <span class="text-blue">Events</span>
                    </span>
                    <span class="card-text">
                        Published On: Nov. 10, 2017
                    </span>
                    <p class="card-para-text">
                        Lorem ipsum dolar sit amet some excerpt from the content goes here..
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="bor-boxshadow card">
                    <img src="/assets/img/article-img-3.png" class="img-responsive" align="Articles">
                    <h4 class="card-head">
                        Awana PreConference at CPC
                    </h4>
                    <span class="card-text">
                        Category: <span class="text-blue">Events</span>
                    </span>
                    <span class="card-text">
                        Published On: Nov. 10, 2017
                    </span>
                    <p class="card-para-text">
                        Lorem ipsum dolar sit amet some excerpt from the content goes here..
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="bor-boxshadow card">
                    <img src="/assets/img/article-img-3.png" class="img-responsive" align="Articles">
                    <h4 class="card-head">
                        Awana PreConference at CPC
                    </h4>
                    <span class="card-text">
                        Category: <span class="text-blue">Events</span>
                    </span>
                    <span class="card-text">
                        Published On: Nov. 10, 2017
                    </span>
                    <p class="card-para-text">
                        Lorem ipsum dolar sit amet some excerpt from the content goes here..
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="bor-boxshadow card">
                    <img src="/assets/img/article-img-4.png" class="img-responsive" align="Articles">
                    <h4 class="card-head">
                        Awana PreConference at CPC
                    </h4>
                    <span class="card-text">
                        Category: <span class="text-blue">Events</span>
                    </span>
                    <span class="card-text">
                        Published On: Nov. 10, 2017
                    </span>
                    <p class="card-para-text">
                        Lorem ipsum dolar sit amet some excerpt from the content goes here..
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="bor-boxshadow card">
                    <img src="/assets/img/article-img-5.png" class="img-responsive" align="Articles">
                    <h4 class="card-head">
                        Awana PreConference at CPC
                    </h4>
                    <span class="card-text">
                        Category: <span class="text-blue">Events</span>
                    </span>
                    <span class="card-text">
                        Published On: Nov. 10, 2017
                    </span>
                    <p class="card-para-text">
                        Lorem ipsum dolar sit amet some excerpt from the content goes here..
                    </p>
                </div>
            </div>
        </div>
    </div>