<!-- Order History -->
<div class="bor-boxshadow margin-b2em" *layout="'desktop'">
  <div class="myorders-sec">
    <div class="filter">
      <h3 class="heading">{{messages.orderHistory}}</h3>
      <span class="filter-field" *ngIf="!NoorderRecords">
          <span class="search-field">
            <input type="text" name="" placeholder="Search by Order ID…"  [(ngModel)]="searchItem" (keyup)="eventHandler($event)" class="text-field no-spinners">
            <a>
              <span class="icon-search" (click)="searchByFilter()"></span>
            </a>
          </span>
        </span>
    </div>

    <ul class="list-inline filter-by-date" *ngIf="!NoorderRecords && !loading">
      <li>
        <h4 class="filter-head">{{messages.filterByDate}}:</h4>
      </li>
      <li>
        <label>{{messages.from}}:</label>
      </li>
      <li class="from-to">
          <div class="cal-icon-pos">
            <input class="text-field" matInput  [matDatepicker]="picker" 
            (keyup)="changeDate()" (dateChange)="changeDate()" [(ngModel)]="dateFrom" placeholder=" Choose a date...">
            <mat-datepicker-toggle class="cal-icon-custom" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
      </li>
      <li>
        <label>{{messages.to}}:</label>
      </li>
      <li class="from-to">
          <div class="cal-icon-pos">
              <input class="text-field" matInput  [matDatepicker]="picker2" (keyup)="changeDate()" (dateChange)="changeDate()"
              [(ngModel)]="dateTo" placeholder=" Choose a date...">
              <mat-datepicker-toggle class="cal-icon-custom" matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </div>
      </li>
      <li   [class.disable-li]="datesErrors.length || !dateTo || !dateFrom">
        <a (click)="currentPage = 1;searchByFilter();" class="btn btn-green"  [class.disable-tag]="datesErrors.length || !dateTo || !dateFrom">
          {{messages.filter}}
        </a>
      </li>
      <li [class.disable-li]="!(dateTo || dateFrom)">
        <a (click)="resetFilter()"  class="btn btn-width-80 pointer" [class.disable-tag]="!(dateTo || dateFrom ||searchItem)">
          {{messages.clear}}
        </a>
      </li>
      <div *ngFor="let err of datesErrors" class="dates-error">
        {{err}}
      </div>
    </ul>
    <div class="clsmessg" style="margin-top: 14px;" *ngIf="noRecs && orderHistoryData?.records==null">{{messages.norecord}}</div>
    <div *ngIf="orderHistoryData?.records!==null && !loading">
      <ul class="row list border-no">
        <li class="col-1 icon-column">
        </li>
        <li class="col-5 text-muted text-left capitalize">
          {{messages.Order}}
        </li>
        <li class="col-1 amount-txt text-muted text-center capitalize">
          {{messages.total}}
        </li>
        <li class="col-3 text-muted text-center capitalize">
          {{messages.orderDate}}
        </li>
        <li class="col-2 text-muted text-center capitalize" *ngIf="typeData == 'church'">
          {{messages.oderedBy}}
        </li>
      </ul>
      <ul class="row list" *ngFor="let order of orderHistoryData?.records| paginate: { itemsPerPage:pageSize, currentPage: currentPage, totalItems:totalItems }"
        (click)="viewOrderDetails()">
        <li class="col-1 icon-column text-center">
          <span class="icons icon-icon_my_orders"></span>
        </li>
        <li class="col-5">
          <label class="order-id">
            <a *ngIf="typeData == 'household'" class="total-items" href="{{storePath}}{{order.OrderNumber}}" target="_blank">{{messages.orderHash}}{{order.OrderNumber}}</a>
            <a *ngIf="typeData == 'church'" class="total-items" href="{{storePath}}{{order.OrderNumber}}{{churchIdForOrder}}{{currentAccountId}}" target="_blank">{{messages.orderHash}}{{order.OrderNumber}}</a>
          </label>
        </li>
        <li class="col-1 text-center amount-txt">
          {{order.TotalAmount ? '$'+ (order.TotalAmount|number:'1.2-2') : 0}}
        </li>
        <li class="col-3 text-center">
          {{order.CreatedDate| date:'mediumDate'}}
        </li>
        <li class="col-2 text-center" *ngIf="typeData == 'church'">
          {{order.Order_Contact_Roles__r?.records[0]?.Contact__r.Name}}
        </li>
      </ul>
      <div class="paginator">
        <span (click)="goFirstPage()" [class.disabled]="currentPage==1" class="fist-btn" href="">{{messages.first}}</span>
        <pagination-controls class="awana-pagination" (pageChange)="pageChange($event)" maxSize="9" previousLabel="" nextLabel=""></pagination-controls>
        <span (click)="goLastPage()" [class.disabled]="(currentPage==lastPage) || (pageSize > totalItems)" class="last-btn" href="">{{messages.last}}</span>
      </div>
      <div class="clsmessg" *ngIf="noRecs==true  && orderHistoryData?.records==null">{{messages.norecord}}</div>
      <div class="clearfix margin-t20 margin-b10">
        <a class="btn btn-icon" href="{{awanaStore}}" target="_blank">
          {{messages.shopMore}}
          <span class="icon-external-link icon"></span>
        </a>
      </div>
    </div>
    <div class="db-empty-orders-donation " *ngIf="NoorderRecords && !loading">
      <div class="text-center">
        <span class="icons icon-icon_cart">
          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
        </span>
        <p class="para-txt">
          {{messages.noOrderHistory}}
        </p>
      </div>
      <div class="clearfix margin-t20 margin-b10 text-center">
        <a href="{{awanaStore}}" target="_blank" class="btn capitalize btn-icon">
          {{messages.shopNow}}
          <span class="icon-external-link icon"></span>
        </a>
      </div>
    </div>
    <div *ngIf="loading" style="text-align:center">
      <img id="mySpinner" src="assets/img/Awana_Spinner.gif" />
    </div>
    <div *ngIf="serviceError" style="text-align:center">
      <p class="para-txt">
        {{serviceMessage}}
      </p>
    </div>
  </div>
</div>
<!-- mobile -->

<section class="page-content" *layout="'mobile'" infiniteScroll infiniteScrollDistance="0.2" infiniteScrollThrottle="50"
  (scrolled)="onScroll()">
  <div class="myorders-sec margin-b20">
   
      <h1 class="section-header" *ngIf="typeData == 'household'" style="display:block;"  [ngClass]="{'search-header' : searchAnimate === true}">
          <div *ngIf="searchFlag==false">
            <span></span>
            {{messages.orderHistory}}
             <span class="pull-right">
              <span class="icon-search2 icon" (click)="showSearchBar()"></span>
              <span class="sorting-icon-arrow" (click)="filterFlag=!filterFlag;searchFlag=false;">
                <span class="icon-filter icon"></span>
              </span>
            </span>
          </div>
    
          <!--- Search Header -->
          <div *ngIf="searchFlag==true">
              <span class="search-box col-11 padding-muted animated fadeInRight">
                <span class="close icon-icon_close" (click)="clearSearchMob()"></span>
                <input type="text" class="text-field" name="" placeholder="Search by Order ID…"  [(ngModel)]="searchItem" (keyup)="eventHandler($event)">
              </span>
              <span class="sorting-icon-arrow col-1 pull-right">
                <span class="icon-filter icon" (click)="searchByFilter()" ></span>
              </span>
            </div>
        </h1>
    
        <h1 class="section-header" *ngIf="typeData == 'church'" style="display:block;"  [ngClass]="{'search-header' : searchAnimate === true}">
          <div *ngIf="searchFlag==false">
            <span class="icon-icon_church icon"></span>
            {{messages.churchOrderHistory}}
          <span class="pull-right">
              <span class="icon-search2 icon" (click)="showSearchBar()"></span>
              <span class="sorting-icon-arrow" (click)="filterFlag=!filterFlag;searchFlag=false;">
                <span class="icon-filter icon"></span>
              </span>
            </span>
        </div>
        <!--- Search Header -->
        <div *ngIf="searchFlag==true">
          <span class="search-box col-11 padding-muted animated fadeInRight">
            <span class="close icon-icon_close" (click)="clearSearchMob()"></span>
            <input type="number" class="text-field" name="" placeholder="Search by Order ID…"  [(ngModel)]="searchItem" (keyup)="eventHandler($event)">
          </span>
          <span class="sorting-icon-arrow col-1 pull-right">
            <span class="icon-filter icon" (click)="searchByFilter()" ></span>
          </span>
        </div>
        </h1>
        <div class="modal mobile-sorting mob-filt-by-date animated fadeInDown" style="display: block;" *ngIf="filterFlag==true">
            <div class="form-fields mob-profile-edit">
            <h4 class="mob-filt-head">{{messages.filterByDate}}:</h4>
            <div class="form-group">
              <label>{{messages.from}}:</label>
                <div class="cal-icon-pos">
                  <input class="text-field" matInput  [matDatepicker]="picker" 
                  (dateChange)="changeDate()" (keyup)="changeDate()" [(ngModel)]="dateFrom" placeholder=" Choose a date...">
                  <mat-datepicker-toggle class="cal-icon-custom" matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>
            <div class="form-group">
              <label>{{messages.to}}:</label>
              <div class="cal-icon-pos">
                <input class="text-field" matInput  [matDatepicker]="picker2" (dateChange)="changeDate()"
                [(ngModel)]="dateTo" (keyup)="changeDate()" placeholder=" Choose a date...">
                <mat-datepicker-toggle class="cal-icon-custom" matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </div>
            </div>
            <div class="text-right" [class.disable-li]="datesErrors.length || !dateTo || !dateFrom">
              <a  class="btn margin-r10"  (click)="resetFilter()" [class.disable-tag]="!(dateTo || dateFrom)">
                  {{messages.clearFilter}}
                </a>
              <a class="btn btn-green" (click)="searchByFilter()" [class.disable-li]="datesErrors.length || !dateTo || !dateFrom">
                  {{messages.applyFilter}}
                </a>
            </div>
            <div *ngFor="let err of datesErrors" class="dates-error">
              {{err}}
            </div>
          </div>
          </div>
<!--- Search Header end -->
<div class="clsmessg" style="margin-top: 10px;" *ngIf="noRecs && orderHistoryData?.records==null">{{messages.norecord}}</div>
    <div *ngIf="orderHistoryData?.records!==null && !loading">
      <div class="order-row" *ngFor="let order of orderHistoryData?.records | slice:0:common.mobileRecordsLimit" (click)="viewOrderDetails()">
        <ul class="row list">
          <li class="col-1 icon-column text-center">
            <span class="icons icon-icon_my_orders"></span>
          </li>
          <li class="col-11">
              <label class="order-id">
                  <a *ngIf="typeData == 'household'" class="total-items" href="{{storePath}}{{order.OrderNumber}}" target="_blank">{{messages.orderHash}}{{order.OrderNumber}}</a>
                  <a *ngIf="typeData == 'church'" class="total-items" href="{{storePath}}{{order.OrderNumber}}{{churchIdForOrder}}{{currentAccountId}}" target="_blank">{{messages.orderHash}}{{order.OrderNumber}}</a>
                </label>
          </li>
        </ul>
        <div class="clearfix total-text">
          <span class="margin-r10" *ngIf="typeData == 'household'">
            <span class="text-muted">{{messages.total}}:</span>
            {{order.TotalAmount ? '$'+ (order.TotalAmount|number:'1.2-2'): 0 }}
          </span>
          <span *ngIf="typeData == 'church'">
            <span class="text-muted">{{messages.oderedBy}}:</span>
            {{order.Order_Contact_Roles__r?.records[0]?.Contact__r.Name}}
          </span>
          <span class="pull-right">
            <span class="text-muted">{{messages.orderDate}}:</span> {{order.CreatedDate| date:'mediumDate'}}
          </span>
        </div>
      </div>
    </div>

    <div class="db-empty-orders-donation order-row margin-b2em" *ngIf="NoorderRecords && !loading">
      <div class="text-center">
        <span class="icons icon-icon_cart">
          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
        </span>
        <p class="para-txt">
          {{messages.noOrderHistory}}
        </p>
      </div>
      <div class="clearfix margin-t20 margin-b10 text-center">
        <a href="{{awanaStore}}" target="_blank" class="btn capitalize sm-margin-top">
          {{messages.shopNow}}
          <span class="icon-external-link icon"></span>
        </a>
      </div>
    </div>
    <div *ngIf="loading" style="text-align:center">
        <img id="mySpinner" src="assets/img/Awana_Spinner.gif" />
    </div>
    <div *ngIf="serviceError" style="text-align:center">
        <p class="para-txt">
          {{serviceMessage}}
        </p>
    </div>
  </div>
</section>