<!-- My Profile -->
<div class="bor-boxshadow margin-b2em" *layout="'desktop'">
    <div class="myorders-sec">
        <h3 class="heading">{{sharedMessages.titleChangePassword}}</h3>
        <form novalidate autocomplete="off" (keydown.enter)="$event.preventDefault()" (ngSubmit)="updatePassword()" [formGroup]="resetPasswordForm">
            <div class="change-password">
                <div class="row clearfix">
                    <div class="col-8 form-fields">
                        <div class="row">
                            <div class="col-4 text-right">
                                <label>{{sharedMessages.lavelCurrentpassword}}*  :</label>
                            </div>

                            <div class="col-8">

                                <div class="form-group form-changePasswoed">
                                    <input (focus)="error=false" (keydown.space)="$event.preventDefault()" (blur)="checkCurrentPass()" type="password" name="currentPassword"
                                        formControlName="currentPassword" placeholder="Current Password" class="text-field text-field-big"
                                        [ngClass]="{'field-error': (resetPasswordForm.get('currentPassword').touched || 
                                resetPasswordForm.get('currentPassword').dirty) &&
                                !resetPasswordForm.get('currentPassword').valid }">
                                    <span class="field-error-txt animated fadeInRight" *ngIf="(resetPasswordForm.get('currentPassword').touched || 
                                    resetPasswordForm.get('currentPassword').dirty) && 
                                    resetPasswordForm.get('currentPassword').errors">
                                        <span *ngIf="resetPasswordForm.get('currentPassword').errors?.required"> {{sharedMessages.currentPassValidation}}</span>
                                    </span>
                                    <div [ngClass]="{ 'serverError': error}" *ngIf="error && resetPasswordForm.value.currentPassword.length>0">
                                        <span>{{error}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section formGroupName="passwordGroup">
                            <div class="row">
                                <div class="col-4 text-right">
                                    <label>New Password*:</label>
                                </div>
                                <div class="col-8">
                                    <div class="form-group form-changePasswoed">
                                        <input type="password" (keydown.space)="$event.preventDefault()" name="" formControlName="newPassword" placeholder="New Password"
                                            class="text-field text-field-big" [ngClass]="{'field-error': (resetPasswordForm.get('passwordGroup.newPassword').touched || 
                                resetPasswordForm.get('passwordGroup.newPassword').dirty) &&
                                !resetPasswordForm.get('passwordGroup.newPassword').valid }">
                                        <span class="field-error-txt" *ngIf="(resetPasswordForm.get('passwordGroup.newPassword').touched || 
                                    resetPasswordForm.get('passwordGroup.newPassword').dirty) && 
                                    resetPasswordForm.get('passwordGroup.newPassword').errors">
                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.required">{{sharedMessages.newPassValidation}}</span>
                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.minlength">{{sharedMessages.newPassLength}}</span>
                                            <!-- <span *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet">Can't be common password</span> -->
                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.charValidation">{{sharedMessages.newPassSpaceValidation}}</span>
                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.passwordValidationFormat}}</span>
                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && !resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.passwordValidationAvoid}}</span>
                                            <span class="field-error-txt animated fadeInRight" *ngIf="!resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.containFirstLastEmail}}</span>

                                        </span>
                                        <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.errors?.MatchPasswordCurrentNew && !(resetPasswordForm.get('passwordGroup.newPassword').errors?.required)">{{sharedMessages.newPassMatchOldPass}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <label>{{sharedMessages.lavelConPassword}}*:</label>
                                </div>
                                <div class="col-8">
                                    <div class="form-group form-changePasswoed">
                                        <input type="password" name="confirmPassword" (keydown.space)="$event.preventDefault()" formControlName="confirmPassword"
                                            placeholder="Confirm Password" class="text-field text-field-big" [ngClass]="{'field-error': (resetPasswordForm.get('passwordGroup.confirmPassword').touched || 
                                resetPasswordForm.get('passwordGroup.confirmPassword').dirty) &&
                                !resetPasswordForm.get('passwordGroup.confirmPassword').valid }">
                                        <span class="field-error-txt animated fadeInRight" *ngIf="(resetPasswordForm.get('passwordGroup.confirmPassword').touched || 
                                resetPasswordForm.get('passwordGroup.confirmPassword').dirty)">

                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.confirmPassword').errors?.required">{{sharedMessages.conPasswordValidation}}</span>
                                            <!-- <span *ngIf="resetPasswordForm.get('passwordGroup.confirmPassword').errors?.minlength">The confirm password must be minimum 6 characters.</span> -->
                                            <span class="field-error-txt animated fadeInRight" *ngIf="!resetPasswordForm.get('passwordGroup.confirmPassword').errors?.required && resetPasswordForm.get('passwordGroup').errors?.match">{{sharedMessages.passwordMatchValidate}}</span>

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>

                    <div class="col-4 pwd-requirements">
                        <ul>
                            <li class="text-center">
                                <span class="cpwd-icon icon-icon_key"></span>
                            </li>
                            <li>
                                <h5 class="cpwd-head">{{sharedMessages.yourNewPasswordMust}}</h5>
                                <ul class="cpwd-list">
                                    <li>
                                        <span class="icon icon-check"></span> {{sharedMessages.beAtLeast8CharactersInLength}}
                                    </li>
                                    <li>
                                        <span class="icon icon-check"></span> {{sharedMessages.notBeSameAsYourCurrentPassword}}
                                    </li>
                                    <li>
                                        <span class="icon icon-check"></span> {{sharedMessages.notContainCommonPassword}}
                                    </li>
                                    <li>
                                        <span class="icon icon-check"></span> {{sharedMessages.passwordValidationFormat}}
                                    </li>
                                    <li>
                                        <span class="icon icon-check"></span> {{sharedMessages.containFirstLastEmail}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn-row">
                    <button type="submit" class="btn btn-green margin-r20" [class.validate-form]="(!resetPasswordForm.valid) || error" [disabled]="(!resetPasswordForm.valid) || error">
                        {{sharedMessages.updatePass}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div *layout="'mobile'">
    <section class="page-content" *layout="'mobile'">
        <h1 class="section-header">
            {{sharedMessages.titleChangePassword}}
        </h1>
        <form novalidate autocomplete="off" (ngSubmit)="updatePassword()" [formGroup]="resetPasswordForm">
            <div class="myprofile mob-profile-edit">
                <div class="form-group">
                    <label>{{sharedMessages.lavelCurrentpassword}}*:</label>
                    <input (focus)="error=false" (keydown.space)="$event.preventDefault()" (blur)="checkCurrentPass()" type="password" name="currentPassword"
                        formControlName="currentPassword" placeholder="Current Password" class="text-field text-field-big" [ngClass]="{'field-error': (resetPasswordForm.get('currentPassword').touched || 
                            resetPasswordForm.get('currentPassword').dirty) &&
                            !resetPasswordForm.get('currentPassword').valid }">
                    <span class="field-error-txt" *ngIf="(resetPasswordForm.get('currentPassword').touched || 
                            resetPasswordForm.get('currentPassword').dirty) && 
                            resetPasswordForm.get('currentPassword').errors">
                        <span *ngIf="resetPasswordForm.get('currentPassword').errors?.required">{{sharedMessages.currentPassValidation}}</span>
                    </span>
                    <div [ngClass]="{ 'serverError': error}" *ngIf="error && resetPasswordForm.value.currentPassword.length>0">
                        <span>{{error}}</span>
                    </div>
                </div>
                <section formGroupName="passwordGroup">
                    <div class="form-group">
                        <label>{{sharedMessages.lavelNewPassword}}*:</label>
                        <input type="password" (keydown.space)="$event.preventDefault()" name="" formControlName="newPassword" placeholder="New Password"
                                            class="text-field text-field-big" [ngClass]="{'field-error': (resetPasswordForm.get('passwordGroup.newPassword').touched || 
                                resetPasswordForm.get('passwordGroup.newPassword').dirty) &&
                                !resetPasswordForm.get('passwordGroup.newPassword').valid }">
                                        <span class="field-error-txt" *ngIf="(resetPasswordForm.get('passwordGroup.newPassword').touched || 
                                    resetPasswordForm.get('passwordGroup.newPassword').dirty) && 
                                    resetPasswordForm.get('passwordGroup.newPassword').errors">
                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.required">{{sharedMessages.newPassValidation}}</span>
                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.minlength">{{sharedMessages.newPassLength}}</span>
                                            <!-- <span *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet">Can't be common password</span> -->
                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.charValidation">{{sharedMessages.newPassSpaceValidation}}</span>
                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.passwordValidationFormat}}</span>
                                            <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && !resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.passwordValidationAvoid}}</span>
                                            <span class="field-error-txt animated fadeInRight" *ngIf="!resetPasswordForm.get('passwordGroup.newPassword').errors?.commonPasswordSet && !resetPasswordForm.get('passwordGroup.newPassword').errors.minlength && !resetPasswordForm.get('passwordGroup.newPassword').errors?.pattern && resetPasswordForm.get('passwordGroup.newPassword').errors?.containFirstLastEmail">{{sharedMessages.containFirstLastEmail}}</span>

                                        </span>
                                        <span class="field-error-txt animated fadeInRight" *ngIf="resetPasswordForm.errors?.MatchPasswordCurrentNew && !(resetPasswordForm.get('passwordGroup.newPassword').errors?.required)">{{sharedMessages.newPassMatchOldPass}}</span>
                    </div>
                    <div class="form-group">
                        <label>{{sharedMessages.lavelConPassword}}*:</label>
                        <input type="password" name="confirmPassword" (keydown.space)="$event.preventDefault()" formControlName="confirmPassword"
                            placeholder="Confirm Password" class="text-field text-field-big" [ngClass]="{'field-error': (resetPasswordForm.get('passwordGroup.confirmPassword').touched || 
                                resetPasswordForm.get('passwordGroup.confirmPassword').dirty) &&
                                !resetPasswordForm.get('passwordGroup.confirmPassword').valid }">
                        <span class="field-error-txt" *ngIf="(resetPasswordForm.get('passwordGroup.confirmPassword').touched || 
                                resetPasswordForm.get('passwordGroup.confirmPassword').dirty)">

                            <span *ngIf="resetPasswordForm.get('passwordGroup.confirmPassword').errors?.required">{{sharedMessages.conPasswordValidation}}</span>
                            <!-- <span *ngIf="resetPasswordForm.get('passwordGroup.confirmPassword').errors?.minlength">The confirm password must be minimum 6 characters.</span> -->
                            <span *ngIf="!resetPasswordForm.get('passwordGroup.confirmPassword').errors?.required && resetPasswordForm.get('passwordGroup').errors?.match">{{sharedMessages.passwordMatchValidate}}</span>

                        </span>
                    </div>
                </section>
            </div>
            <div class="footer-btn">
                <button type="submit" class="btn btn-green btn-block btn-block-small validate-form" [class.validate-form]="(!resetPasswordForm.valid) || error" [disabled]="(!resetPasswordForm.valid) || error">
                    {{sharedMessages.updatePass}}
                </button>
            </div>
        </form>
    </section>
</div>