.validate-form{
    cursor:not-allowed!important;
}
.serverError{
    color:#d62b3c;
    font-weight: 500;
    margin-bottom: 10px;
    position: absolute;
}
.form-changePasswoed {
    margin-bottom: 3px!important;
}
