<!-- My Recent Subscribtions -->
<div class="bor-boxshadow">
  <div class="myorders-sec">
      <h3 class="heading">My Recent Subscriptions</h3>

      <div class="tabbed">
          <!-- Postal -->
          <input name="tabbed" id="postal" type="radio" checked>
          <section>
              <h1>
        <label for="postal">Postal</label>
      </h1>
              <!--- Postal -->
              <div>
                  <ul class="row list border-no">
                      <li class="col-1 icon-column">

                      </li>
                      <li class="col-7 text-muted text-left">
                          ITEM
                      </li>
                      <li class="col-3 text-muted text-center">
                          PUBLISHED DATE
                      </li>
                      <li class="col-1 text-muted text-center">

                      </li>
                  </ul>
                  <ul class="row list">
                      <li class="col-1 icon-column text-center">
                          <span class="icons icon-icon_subscriptions"></span>
                      </li>
                      <li class="col-7">
                          <label class="total-items">Weekly Awana Newsletter, Reach Lorem Ipsum dolar..</label>
                          <span class="text-muted">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been….
                          </span>
                      </li>
                      <li class="col-3 text-center text-pad">
                          Nov. 24, 2017
                      </li>
                      <li class="col-1 text-center margin-t10">
                          <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
                      </li>
                  </ul>
                  <ul class="row list">
                      <li class="col-1 icon-column text-center">
                          <span class="icons icon-icon_subscriptions"></span>
                      </li>
                      <li class="col-7">
                          <label class="total-items">Weekly Awana Newsletter, Reach Lorem Ipsum dolar..</label>
                          <span class="text-muted">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been….
                          </span>
                      </li>
                      <li class="col-3 text-center text-pad">
                          Nov. 24, 2017
                      </li>
                      <li class="col-1 text-center margin-t10">
                          <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
                      </li>
                  </ul>
                  <ul class="row list">
                      <li class="col-1 icon-column text-center">
                          <span class="icons icon-icon_subscriptions"></span>
                      </li>
                      <li class="col-7">
                          <label class="total-items">Weekly Awana Newsletter, Reach Lorem Ipsum dolar..</label>
                          <span class="text-muted">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been….
                          </span>
                      </li>
                      <li class="col-3 text-center text-pad">
                          Nov. 24, 2017
                      </li>
                      <li class="col-1 text-center margin-t10">
                          <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
                      </li>
                  </ul>
                  <ul class="row list">
                      <li class="col-1 icon-column text-center">
                          <span class="icons icon-icon_subscriptions"></span>
                      </li>
                      <li class="col-7">
                          <label class="total-items">Weekly Awana Newsletter, Reach Lorem Ipsum dolar..</label>
                          <span class="text-muted">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been….
                          </span>
                      </li>
                      <li class="col-3 text-center text-pad">
                          Nov. 24, 2017
                      </li>
                      <li class="col-1 text-center margin-t10">
                          <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
                      </li>
                  </ul>
                  <ul class="row list">
                      <li class="col-1 icon-column text-center">
                          <span class="icons icon-icon_subscriptions"></span>
                      </li>
                      <li class="col-7">
                          <label class="total-items">Weekly Awana Newsletter, Reach Lorem Ipsum dolar..</label>
                          <span class="text-muted">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been….
                          </span>
                      </li>
                      <li class="col-3 text-center text-pad">
                          Nov. 24, 2017
                      </li>
                      <li class="col-1 text-center margin-t10">
                          <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
                      </li>
                  </ul>
                  <div class="clearfix margin-t20 margin-b10">
                      <a href="#nogo" class="btn btn-green margin-r20">
                          View More Subscriptions
                        </a>
                  </div>
              </div>
          </section>

          <!-- Email -->
          <input name="tabbed" id="email" type="radio">
          <section>
              <h1>
                      <label for="email">Email</label>
                    </h1>
              <!--- Email -->
              <div>
                  <ul class="row list border-no">
                      <li class="col-1 icon-column">

                      </li>
                      <li class="col-7 text-muted text-left">
                          ITEM
                      </li>
                      <li class="col-3 text-muted text-center">
                          PUBLISHED DATE
                      </li>
                      <li class="col-1 text-muted text-center">

                      </li>
                  </ul>
                  <ul class="row list">
                      <li class="col-1 icon-column text-center">
                          <span class="icons icon-icon_subscriptions"></span>
                      </li>
                      <li class="col-7">
                          <label class="total-items">Weekly Awana Newsletter, Reach Lorem Ipsum dolar..</label>
                          <span class="text-muted">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been….
                          </span>
                      </li>
                      <li class="col-3 text-center text-pad">
                          Dec. 30, 2017
                      </li>
                      <li class="col-1 text-center margin-t10">
                          <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
                      </li>
                  </ul>
                  <ul class="row list">
                      <li class="col-1 icon-column text-center">
                          <span class="icons icon-icon_subscriptions"></span>
                      </li>
                      <li class="col-7">
                          <label class="total-items">Weekly Awana Newsletter, Reach Lorem Ipsum dolar..</label>
                          <span class="text-muted">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been….
                          </span>
                      </li>
                      <li class="col-3 text-center text-pad">
                          Dec. 30, 2017
                      </li>
                      <li class="col-1 text-center margin-t10">
                          <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
                      </li>
                  </ul>
                  <ul class="row list">
                      <li class="col-1 icon-column text-center">
                          <span class="icons icon-icon_subscriptions"></span>
                      </li>
                      <li class="col-7">
                          <label class="total-items">Weekly Awana Newsletter, Reach Lorem Ipsum dolar..</label>
                          <span class="text-muted">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been….
                          </span>
                      </li>
                      <li class="col-3 text-center text-pad">
                          Dec. 30, 2017
                      </li>
                      <li class="col-1 text-center margin-t10">
                          <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
                      </li>
                  </ul>
                  <ul class="row list">
                      <li class="col-1 icon-column text-center">
                          <span class="icons icon-icon_subscriptions"></span>
                      </li>
                      <li class="col-7">
                          <label class="total-items">Weekly Awana Newsletter, Reach Lorem Ipsum dolar..</label>
                          <span class="text-muted">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been….
                          </span>
                      </li>
                      <li class="col-3 text-center text-pad">
                          Dec. 30, 2017
                      </li>
                      <li class="col-1 text-center margin-t10">
                          <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
                      </li>
                  </ul>
                  <ul class="row list">
                      <li class="col-1 icon-column text-center">
                          <span class="icons icon-icon_subscriptions"></span>
                      </li>
                      <li class="col-7">
                          <label class="total-items">Weekly Awana Newsletter, Reach Lorem Ipsum dolar..</label>
                          <span class="text-muted">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been….
                          </span>
                      </li>
                      <li class="col-3 text-center text-pad">
                          Dec. 30, 2017
                      </li>
                      <li class="col-1 text-center margin-t10">
                          <a href="#nogo"><span class="icon-icon_action_dots"></span></a>
                      </li>
                  </ul>
                  <div class="clearfix margin-t20 margin-b10">
                      <a href="#nogo" class="btn btn-green margin-r20">
                          View More Subscriptions
                        </a>
                  </div>
              </div>
          </section>
      </div>
  </div>
</div>